<p>Processing is complete!</p>
<p>The source file has <%=@project_data.source_dupes.count%> dupes</p>
<p>The source file has <%=@project_data.source_uniq.count%> unique contacts</p>
<p>The target file has <%=@project_data.target_dupes.count%> dupes</p>
<p>The target file has <%=@project_data.target_uniq.count%> unique contacts</p>
<p>The two files share <%=@project_data.source_target_union.count%> contacts</p>