<div class="row">
  <h4>Hi <%= @project.user_name %>, You've now uploaded your file. Time to invite someone to compare with.</h4>
</div>
<div class="small-4 columns">
	<h4><strong>Request someone to share an email list</strong></h4>
   	<%= form_for :project, url: add_target_user_project_path do |f| %>
     	<%= f.fields_for :user do |form| %>
       		<%= form.text_field :email %>
     	<%end%>

     	<%= f.submit %>
   	<% end %>
</div>