<% @project = @project.decorate %>

<div id='app' style="display:none" data-bind="visible: $data">
  <div data-bind="visible: hasFileApi()">
    <div data-bind="with: state_app">
      <div data-bind="template: {name: name, data: $data}">
      </div>
    </div>
  </div>
  <div data-bind="visible: !hasFileApi()">
    <%= render 'update_browser' %>
  </div>
</div>

<% content_for :foot do %> 
  <%= javascript_include_tag "lib/knockout-min.js" %>
  <%= javascript_include_tag "lib/linereader.js" %>
  <%= javascript_include_tag "lib/csv.js" %>
  <%= javascript_include_tag "lib/md5.js" %>
  <%= javascript_include_tag "knockout/ko-file.js" %>
  <%= javascript_include_tag "knockout/app.js" %>
  <% @project.templates.each do |template| %>
    <%= javascript_include_tag "knockout/#{template}.js" %>
    <script type="text/html" id="<%= template %>">
      <%= render template %>
    </script>
  <% end %>
  <script>
    ko.applyBindings(new App(<%= @project.knockout %>), $('.app')[0])
  </script>
<% end %>